.grid {
  --cell-size: 30px;
  --column-width: var(--cell-size);

  display: grid;
  grid-template-columns: var(--column-width) var(--column-width) var(--column-width);
  gap: 5px;
}

.grid__cell {
  box-sizing: border-box;

  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__cell--win {
  background-color: black;
  color: white;
}
